<div style="position: relative">
  <div style="padding-bottom: 200px">
    <%= image_tag("rechance.jpg") %>
  </div>

  <div style="position: absolute; bottom: 0">

    <p>Contact: "Pirates of the Knowledge"</p>
    <p>Mobile: +38126385456</p>
    <p>Email: piratesK@gmail.com</p>
    <p>Address: 3, Knez Mihajlova Street</p>
    <p>Web: <a href="https://rechance.herokuapp.com">https://rechance.herokuapp.com</a></p>
  <div>
</div>
